In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
path = '../data/cs-train/ts-data/'


df = pd.read_csv(path + 'ts-all.csv')

In [21]:
from datetime import datetime as dt
df['date'] = pd.to_datetime(df['date'])
(max(df.date) - min(df.date)).days

606

In [8]:
df_france = pd.read_csv(path + 'ts-france.csv')

,date,purchases,unique_invoices,unique_streams,total_views,year_month,revenue
0,2017-11-01,0,0,0,0,2017-11,0.00
1,2017-11-02,0,0,0,0,2017-11,0.00
2,2017-11-03,0,0,0,0,2017-11,0.00
3,2017-11-04,0,0,0,0,2017-11,0.00
4,2017-11-05,0,0,0,0,2017-11,0.00
...,...,...,...,...,...,...,...
602,2019-06-26,0,0,0,0,2019-06,0.00
603,2019-06-27,1,1,1,4,2019-06,1.25
604,2019-06-28,26,2,25,252,2019-06,79.75
605,2019-06-29,0,0,0,0,2019-06,0.00
606,2019-06-30,0,0,0,0,2019-06,0.00

In [10]:
import os 
for file in os.listdir(path):
    print(file)
    df = pd.read_csv(path+file)
    print(sum(df.revenue))

ts-portugal.csv
13327.209999999997
ts-united_kingdom.csv
3343551.644000001
ts-hong_kong.csv
14393.130000000001
ts-eire.csv
104589.40000000001
ts-spain.csv
15393.360000000002
ts-france.csv
38985.42000000002
ts-singapore.csv
12945.460000000001
ts-all.csv
3721940.9249999993
ts-norway.csv
38326.12
ts-germany.csv
45651.26099999999
ts-netherlands.csv
12296.78